* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.text-white {
  color: #fff;
}

.article {
  min-height: 100%;
  margin-bottom: -53px;
}

.section--main {
  margin-bottom: 80px;
}

.section--main .section__img {
  height: 100%;
  width: 101%;
  box-shadow: 0 20px 20px #c5c5c5;
}

.section--second .section__img {
  box-shadow: 0 5px 30px #000;
  position: relative;
}

.section--second .section__img--top-left {
  height: 422px;
  width: 50%;
}

.section--second .section__img--bott-left {
  height: 422px;
  width: 50%;
}

.section--second .section__img--right {
  width: 50%;
  height: 100%;
  float: right;
}

.section--sponsor .section__img {
  height: 130px;
  width: 130px;
  margin-left: 25px;
}

.section--sponsor .section__img:first-child {
  height: 60px;
  width: 200px;
}

.section--sponsor .section__img:last-child {
  height: 200px;
  width: 200px;
}

.section--main .section__text {
  float: right;
  position: relative;
  margin-top: -40%;
  margin-right: 10%;
  text-align: center;
}

.section--main .section__text--h2 {
  color: #FFE609;
  font-family: 'pacifico', cursive;
  font-size: 55px;
}

.section--main .section__text--h3 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
}

.section--main .section__text--p {
  color: #fff;
  font-size: 25px;
}

.section--main .section__text--a {
  color: #343a40;
  font-size: 25px;
  background-color: #FFE609;
  padding: 8px;
  border-radius: 10px;
}

.section--main .section__text--a:hover {
  text-decoration: none;
  color: #fff;
}

.section--second .section__text--p {
  font-size: 40px;
  margin-left: 70px;
  text-align: center;
  margin-bottom: 80px;
}

.section--delivery-info .section__text--p {
  color: #000;
  font-family: podkova, serif;
  font-size: 35px;
  text-align: center;
  padding-right: 130px;
  padding-left: 130px;
  padding-top: 50px;
  margin-right: 70px;
}

.section--second {
  height: 100%;
}

.section--delivery-info {
  background-color: #FFE609;
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: center;
}

.section--sponsor {
  background-color: #000;
  height: 350px;
  width: 100%;
  border-bottom: solid 1px gray;
}

.footer__container {
  background-color: #000;
  height: 53px;
}

.footer__text {
  color: #fff;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav--header {
  background-color: #000;
}

.nav__list {
  list-style: none;
  padding-top: 45px;
  float: right;
}

.nav__list:last-child {
  margin-right: 4rem;
}

.nav__item {
  margin-left: 25px;
  display: inline-block;
}

.nav__link {
  color: #fff;
  font-size: 18px;
}

.nav__link--brand {
  color: #fff;
  height: 100px;
  width: 170px;
  margin: 5px;
}

.nav__link:hover {
  text-decoration: none;
  color: #FFE609;
}

.login {
  margin-top: 20px;
  margin-bottom: 30px;
}

.login__img {
  position: relative;
  height: 550px;
  width: 450px;
  left: 200px;
  border-radius: 20px 0px 0px 20px;
}

.login__modal {
  background-color: rgba(212, 212, 212, 0.6);
  position: absolute;
  width: 260px;
  height: 160px;
  left: 280px;
  top: 300px;
  padding: 20px 40px 20px;
  border-radius: 10px;
  text-align: center;
}

.login__text {
  font-size: 18px;
}

.login__button {
  position: absolute;
  left: 66px;
  top: 170px;
}

.login__button--registry {
  font-size: 20px;
  text-decoration: underline #FFE609;
}

.login__button--registry:hover {
  text-decoration: none;
}

.login__button--log {
  background-color: #FFE609;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: large;
}

.login__button--log:hover {
  background-color: #d4bf00;
  color: #000;
}

.login__form {
  position: absolute;
  float: right;
  bottom: 5px;
  right: 190px;
  width: 400px;
}

.login__form__container {
  margin-top: 40px;
}

.registry {
  margin-top: 20px;
  margin-bottom: 30px;
}

.registry__img {
  position: relative;
  height: 550px;
  width: 450px;
  left: 800px;
  border-radius: 0px 20px 20px 0px;
}

.registry__modal {
  background-color: rgba(212, 212, 212, 0.6);
  position: absolute;
  width: 260px;
  height: 115px;
  left: 890px;
  top: 300px;
  padding: 20px 40px 20px;
  border-radius: 10px;
  text-align: center;
}

.registry__text {
  font-size: 28px;
}

.registry__text--title {
  margin-bottom: 20px;
}

.registry__button {
  position: absolute;
  left: 66px;
  top: 170px;
}

.registry__button--login {
  font-size: 20px;
  text-decoration: underline #FFE609;
}

.registry__button--login:hover {
  text-decoration: none;
}

.registry__button--reg {
  background-color: #FFE609;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: large;
}

.registry__button--reg:hover {
  background-color: #d4bf00;
  color: #000;
}

.registry__form {
  position: absolute;
  float: left;
  top: 200px;
  width: 400px;
  padding-top: 30px;
  right: 200px;
  left: 200px;
}

.registry__form__container {
  margin-top: 40px;
}
