$black-back-font-color: #fff;
$primary-color: #000;
$secondary-color: #FFE609;
$nav-back-color: #000;
$third-color: #343a40;
$shadow-color: #c5c5c5;
$color-gray:#ECE9E9;
$hover-button-color: #d3c332;
$hover-button-color: #f3de22;
$modal-opacity-color: rgba(212, 212, 212, 0.6);
$modal-hover-color: rgba(255, 255, 255, 0.781);
