.login{
    margin-top: 20px;
    margin-bottom: 30px;
    
    &__img{
        height: 100vh;
        width: 450px;
        min-height: 480px;
        max-height: 550px;
        margin-left: 5vw;
        border-radius: 20px 0px 0px 20px;
        grid-column: 2 / 3 ;
        grid-row: 1;
        @media (max-width: 1300px) { 
            display: none;
        }
    }

    &__modal{
        background-color: $modal-opacity-color;
        min-width: 250px;
        max-width: 260px;
        height: 160px;
        grid-row: 1;
        grid-column: 2;
        padding: 20px 40px 20px;
        border-radius: 10px;
        text-align: center;
        margin: 4vh auto;
        margin-top: 10vh;
        @media (max-width: 1300px) { 
            margin-top: 0px;
            grid-row: 3;
            order: 2;
            max-width: 500px;
        }
        @media (max-width: 830px) { 
            grid-column: 1;
            grid-row: 3;
            order: 2;
            max-width: 300px;
            height: 220px;
        }
        &:hover{
            background-color: $modal-hover-color;
        }
    }

    &__text{
        color: $primary-color;
        font-size: 18px;
        &--title{
            text-decoration: underline $secondary-color;
            grid-row: 1;
            grid-column: 2 / 3;
            margin-bottom: 5vh;
            margin-left: 3vw;
            @media (max-width: 1350px) { 
                padding-left: 0px;
                margin-left: 0px;
                text-align: start;
            }
            @media (max-width: 1300px) {
                text-align: center;
            }
        }
        @media (max-width: 830px) { 
            margin-bottom: 4vh;
        }
        &--forgot{
            min-width: 210px;
        }
    }

    &__grid{
        display: grid;
        grid-template-columns: 10% 40% 40% 10% ;
        grid-template-rows: 5% 95%;
        
        @media (max-width: 1300px) { 
            grid-template-columns: 5%;
            grid-template-rows: 5% 50% 35%;
            justify-content: center;
            margin-bottom: 7vh;
        }
        @media (max-width: 830px) { 
            grid-template-columns: 1fr;
            grid-template-rows: 5% 2fr 1fr;
            
        }
        
    }

    &__button{
        min-width: 145px;
        &--registry{
            font-size: 20px;
            text-decoration: underline $secondary-color;
            &:hover{
                text-decoration: none;
            }
            
        }
        
        &--log{
            background-color: $secondary-color;
            padding: 8px;
            border: none;
            border-radius: 5px;
            color: $black-back-font-color;
            font-size: large;
            margin-left: 3vw;
            &:hover{
                color: $primary-color;
                background-color: $hover-button-color;
            }
            @media (max-width: 1300px) { 
                margin-left: 0px;
            }
        }
    }

    &__container{
        
        &--sub{
            text-align: start;
            padding-left: 5vw;
            @media (max-width: 1300px) { 
                text-align: center;
                padding-bottom: 5vh;
                padding-left: 0px;
            }
            @media (max-width: 830px) { 
                text-align: center;
                padding-bottom: 5vh;
            }
        }
    }

    &__form{
        grid-row: 1;
        grid-column: 3/4;
        margin-top: 2vh;
        @media (max-width:1300px){
            grid-row: 2;
            grid-column: 2;
            order: 1;
        }
        @media (max-width: 830px) { 
            grid-row: 2;
            grid-column: 1;
            padding: 0vh 2vw;
            order: 1;
        }
        &__container{
            grid-column: 0;
            @media (max-width: 830px){
                display: grid;
                justify-content: center;
            }
            &--input{
                margin-top: 40px;
                @media (max-width: 1300px){
                    display: grid;
                    justify-content: center;
                }
            }
        }
        &__group{
            max-width: 345px;
            @media (max-width: 1300px){
                min-width: 500px;
                max-width: 523px;
            }
            @media (max-width: 830px){
                min-width: 323px;
                max-width: 480px;
            }
        }
    }

    &__label{
        .login__form__group &{
            font-weight: bold;
            font-size: 18px;
        }
    }

    &__input{
        .login__form__group &{
            border-radius: 10px;
            background-color: $color-gray;
            min-width: 323px;
        }
    }

}