.login{
    margin-top: 20px;
    margin-bottom: 30px;
    height: 100vh;
    
    &__container{
        
    }
    
    &__img{
        float: left;
        height: 100vh;
        width: 450px;
        min-height: 480px;
        max-height: 550px;
        margin-left: 12vw;
        border-radius: 20px 0px 0px 20px;
    }

    &__modal{
        background-color: $modal-opacity-color;
        position: absolute;
        width: 260px;
        height: 160px;
        left: 280px;
        top: 300px;
        padding: 20px 40px 20px;
        border-radius: 10px;
        text-align: center;
        &:hover{
            background-color: $modal-hover-color;
        }
    }

    &__text{
        color: $primary-color;
        font-size: 18px;
        &--title{
            text-decoration: underline $secondary-color;
        }
    }


    &__button{
        position: absolute;
        left: 66px;
        top: 170px;
        &--registry{
            font-size: 20px;
            text-decoration: underline $secondary-color;
            &:hover{
                text-decoration: none;
            }
        }
        
        &--log{
            background-color: $secondary-color;
            padding: 8px;
            border: none;
            border-radius: 5px;
            color: $black-back-font-color;
            font-size: large;
            &:hover{
                color: $primary-color;
                background-color: $hover-button-color;
            }
        }
    }

    &__form{
        float: right;
        margin-top: 5vh;
        margin-right: 25vw;
        bottom: 5px;
        width: 400px;
        &__container{
            margin-top: 40px;
        }
        &__group{
            width: 26vw;
        }
    }


}