.registry{

    margin-top: 20px;

    &__img{
        position: absolute;
        height: 550px;
        width: 450px;
        left: 800px;
        border-radius: 0px 20px 20px 0px;
    }

    &__modal{
        background-color: $modal-opacity-color;
        position: absolute;
        width: 260px;
        height: 115px;
        left: 890px;
        bottom: -400px;
        padding: 20px 40px 20px;
        border-radius: 10px;
        text-align: center;
    }

    &__text{
        font-size: 28px;
    }


    &__button{
        position: absolute;
        left: 66px;
        top: 170px;
        &--login{
            font-size: 20px;
            text-decoration: underline $secondary-color;
            &:hover{
                text-decoration: none;
            }
        }
        &--log{
            background-color: $secondary-color;
            padding: 8px;
            border: none;
            border-radius: 5px;
            color: $black-back-font-color;
            font-size: large;
            &:hover{
                background-color: $hover-button-color;
                color: $primary-color;
            }
        }
    }

    &__form{
        width: 400px;
        &__container{
            margin-top: 40px;
        }

    }

}