.section{
    //margin-bottom: 80px;
    width: 100vw;
    &--main{
        margin-bottom: 80px;
    }
    &__img{
        .section--main &{
            width: 100vw;
            box-shadow: 0 20px 20px $shadow-color;
            @media (max-width: 768px) { 
                display: none;
            }
        }
        .section--second &{
            &--top-left{
                height: 422px;
                width: 50%;
                @media (max-width: 769px) { 
                    height: 100vh;
                    width: 100%;
                    border-top: 1vh solid $black-back-font-color;
                    border-left: 1vh solid $black-back-font-color;
                    border-right: 1vh solid $black-back-font-color;
                }
            }
            &--bott-left{
                height: 422px;
                width: 50%;
                @media (max-width: 769px) { 
                    height: 100vh;
                    width: 100%;
                    border-bottom: 1vh solid $black-back-font-color;
                    border-left: 1vh solid $black-back-font-color;
                    border-right: 1vh solid $black-back-font-color;
                }
            }
            &--right{
                width: 50%;
                height: 55vw;
                max-height: 845px;
                float: right;
                @media (max-width: 1535px) {
                    border: 1vh solid $black-back-font-color;
                }
                @media (max-width: 769px) {
                    height: 100vh; 
                    width: 100%;
                    border: 1vh solid $black-back-font-color;
                }
            }
            box-shadow: 0 5px 30px $primary-color;
            position: relative;
        }
        .section--sponsor &{
            height: 130px;
            width: 130px;
            margin-left: 25px;
            &:first-child{
                height: 60px;
                width: 200px;
            }
            &:last-child{
                height: 200px;
                width: 200px;
            }
        }
    }
    &__text{
        .section--main &{
            float: right;
            position: relative;
            margin-top: -40%;
            margin-right: 10%;
            text-align: center;
            @media (max-width: 768px) { 
                float: none;
                margin-top: 2vh;
                margin-left: 1vw;
                margin-right: 1vw;
                padding-bottom: 8vh;
                border-bottom: 3px solid $secondary-color;
            }
            &--h2{
                color: $secondary-color;
                font-family: 'pacifico', cursive;
                font-size: 4rem;
            }
            &--h3{
                color: $black-back-font-color;
                font-family: 'Poppins', sans-serif;
                font-size: 5rem;
                @media (max-width: 768px) { 
                    color: $primary-color;
                    font-size: 4rem;
                }
            }
            &--p{
                color: $black-back-font-color;
                font-size: 1.5rem;
                @media (max-width: 768px) { 
                    color: $primary-color;
                }
            }
            &--a{
                color: $third-color;
                font-size: 1.5rem;
                background-color: $secondary-color;
                padding: 8px;
                border-radius: 10px;
                &:hover{
                    text-decoration: none;
                    color: $black-back-font-color;
                }
            }
        }
        .section--second &{
            &--p{
                font-size: 2rem;
                margin-left: 8vw;
                margin-right: 8vw;
                text-align: center;
                margin-bottom: 80px;
            }
        }
        .section--delivery-info &{
            &--p{
                color: $primary-color;
                font-family: podkova, serif;
                font-size: 2rem;
                text-align: center;
                padding-left: 11vw;
                padding-right: 11vw;
                margin-left: 8vw;
                margin-right: 8vw;
                padding-top: 50px;
                margin-right: 70px;
            }
        }
    }

    &--second{
        height: 100%;
    }

    &--delivery-info{
        background-color: $secondary-color;
        padding-top: 30px;
        padding-bottom: 30px;
        vertical-align: center;
    }

    &--sponsor{
        background-color: $primary-color;
        height: 350px;
        width: 100%;
        border-bottom: solid 2px $color-gray;
        &__items{
            background-color: $primary-color;
            padding: 0vh 1vw 0vh 1vw;
        }
    }
    
}
