.footer{
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100vw;
    
    &__container{
        background-color: $primary-color;
        height: 53px;
    }
    &__text{
        color: $black-back-font-color;
        margin-bottom: 0px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

}

@media (max-width:608px){
.footer{
    position: sticky;
}
}