.nav{
    width: 100vw;
    &--header{
        background-color: $nav-back-color;
    }

    &__list{
        list-style: none;
        padding-top: 45px;
        float: right;
        &:last-child{
            margin-right: 4rem;
        }
        
    }

    &__item{
        margin-left: 25px;
        display: inline-block;
        @media (max-width: 768px) { 
            &:hover{
                text-decoration: underline $secondary-color;
            }
            &:last-child{
                margin-bottom: 2vh;
            }
         }
    }

    &__link{
        color: $black-back-font-color;
        font-size: 18px;
        &--brand{
            color: $black-back-font-color;
            height: 100px;
            width: 170px;
            margin: 2vh 1vw 2vh 4vw;
            @media (max-width: 768px) { 
                margin-left: 30%;
            }
        }

        &:hover{
            text-decoration: none;
            color: $secondary-color;
        }
    }

    &__btn{
        &--colapse{
            display: none;
            border: none;
            height: 30px;
            width: 60px;
            font-size: 1.5em;
            background-color: $primary-color;
            color: $black-back-font-color;
            &:focus{
                outline:none;
            }
            @media (max-width: 768px) { 
                display: inline;
                float: inline-end;
                margin: 2vh 5vw 2vh 0vw;
            }
        }
    }
}