.nav{
    width: 100vw;
    &--header{
        background-color: $nav-back-color;
    }

    &__list{
        list-style: none;
        padding-top: 45px;
        float: right;
        &:last-child{
            margin-right: 4rem;
        }
        @media (max-width: 700px) { 
           
        }
    }

    &__item{
        margin-left: 25px;
        display: inline-block;
    }

    &__link{
        color: $black-back-font-color;
        font-size: 18px;
        &--brand{
            color: $black-back-font-color;
            height: 100px;
            width: 170px;
            margin: 5px;
        }

        &:hover{
            text-decoration: none;
            color: $secondary-color;
        }
    }

    &__btn{
        &--colapse{
            display: none;
            @media (max-width: 990px) { 
                display: inline;
                float: inline-end;
                margin: 3vh 7vw 0vh 0vw;
            }
        }
    }
}